:root {
	/* Primarios */
	--naranja: hsl(26, 100%, 55%);
	--naranja-suave: hsl(25, 100%, 94%);

	/* Neutros */
	--azul-muy-oscuro: hsl(220, 13%, 13%);
	--azul-gris-oscuro: hsl(219, 9%, 45%);
	--azul-gris: hsl(220, 14%, 75%);
	--azul-gris-claro: hsl(223, 64%, 98%);
	--blanco: hsl(0, 0%, 100%);
	--negro: hsl(0, 0%, 0%);

	/* Tipografía */
	--font-size: 1.6rem;
	--font-family: 'Kumbh Sans', sans-serif;
}

/* ===== Estilos globales ===== */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: var(--font-family);
}

body {
	font-size: var(--font-size);
}

/* ===== App ===== */
.contenedor {
	/* outline: 1px solid red; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr)); */
	/* grid-gap: 1rem; */
	/* grid-auto-rows: 27rem; */
	column-gap: 2rem;
	max-width: 90rem;
	margin: 5rem auto;
}

.imagen {
	width: 50rem;
	/* height: 10rem; */
}

h1 {
	text-align: left;
	font-weight: 700;
	font-size: 5rem;
	margin-bottom: 5rem;
	margin-top: 8rem;
	color: var(--azul-muy-oscuro);
}

h1::after {
	content: '';
	display: block;
	width: 90%;
	height: 0.6rem;
	margin-top: 1rem;
	background-color: var(--azul-muy-oscuro);
}
